nav {
  width: 100%;
  padding: 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 67, 1) 100%, rgba(0, 212, 255, 1) 100%);
  display: flex;
  justify-content: space-around;
}

a {
  color: beige;
}

p {
  margin-top: auto;
  color: beige;
  cursor: pointer;
}

body {
  background-color: rgb(26, 26, 26);
}

h1 {
  color: beige;
}

#nav2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 30%;
  height: 100%;
  color: #000000;
  background: #130229;
  text-align: center;
  display: none;
}

#na {
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(38 3 46) 100%, rgba(0, 212, 255, 1) 100%);
  margin-top: 0ch;
  padding: 5px;
}